node_modules
# Keep environment variables out of version control
# .env

/generated/prisma

# dist/
# Ignore all files in prisma/migrations
# prisma/migrations/*
!prisma/migrations/
# But keep the migration_lock.toml file
!prisma/migrations/migration_lock.toml
